<nav id="sub-nav" class="alignright">
	<div class="social">
		{% if site.facebook_user %}
		<a class="facebook" href="http://www.facebook.com/{{ site.facebook_user }}" title="Facebook">Facebook</a>
		{% endif %}
		{% if site.googleplus_user and site.googleplus_hidden == false %}
		<a class="google" href="https://plus.google.com/{{ site.googleplus_user }}?rel=author" title="Google+">Google+</a>
		{% endif %}
		{% if site.twitter_user %}
		<a class="twitter" href="http://twitter.com/{{ site.twitter_user }}" title="Twitter">Twitter</a>
		{% endif %}
		{% if site.github_user %}
		<a class="github" href="https://github.com/{{ site.github_user }}" title="GitHub">GitHub</a>
		{% endif %}
		{% if site.pinboard_user %}
		<a class="pinboard" href="https://pinboard.in/u:{{ site.pinboard_user }}" title="Pinboard">Pinboard</a>
		{% endif %}
		{% if site.coderwall_user %}
		<a class="coderwall" href="https://coderwall.com/{{ site.coderwall_user }}" title="Coderwall">Coderwall</a>
		{% endif %}
		{% if site.linkedin_user %}
		<a class="linkedin" href="http://www.linkedin.com/in/{{ site.linkedin_user }}">LinkedIn</a>
		{% endif %}
		{% if site.pinterest_user %}
		<a class="pinterest" href="https://pinterest.com/{{ site.pinterest_user }}" title="Pinterest">Pinterest</a>
		{% endif %}
		{% if site.delicious_user %}
		<a class="delicious" href="http://delicious.com/{{ site.delicious_user }}" title="Delicious">Delicious</a>
		{% endif %}
		{% if site.instagram_user %}
		<a class="instagram" href="http://instagram.com/{{ site.instagram_user }}" title="Instagram">Instagram</a>
		{% endif %}
	</div>
	<form class="search" action="{{ site.simple_search }}" method="get">
		<input class="alignright" type="text" name="q" results="0">
		<input type="hidden" name="q" value="site:{{ site.url | shorthand_url }}">
	</form>
</nav>

Copyright &copy; {{ site.time | date: "%Y" }}
{% if site.author %}
{{ site.author }}
{% else %}
{{ site.title }}
{% endif %}

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-45873773-1', 'sunsetkitchen.com');
	ga('send', 'pageview');

	</script>
	
	<script type="text/javascript">
	(function(d){
	  var f = d.getElementsByTagName('SCRIPT')[0], p = d.createElement('SCRIPT');
	  p.type = 'text/javascript';
	  p.async = true;
	  p.setAttribute('data-pin-color', 'white');
	  p.setAttribute('data-pin-hover', 'true');
	  p.src = '//assets.pinterest.com/js/pinit.js';
	  f.parentNode.insertBefore(p, f);
	}(document));
	</script>