$color-background: #fff;
// $color-main: #258fb8;
// $color-gray01: #666;
$color-barely-grey: #ddd;
$color-grey-light: #a8a8a8;
$color-grey-medium: #666;
$color-grey-dark: #333;
$color-plum: #524656;
$color-light-blue: #A6C4BC;
$color-tan: #E4DCCB;
$color-red: #CF4747;
$color-peach: #EA7A58;
// $color-gray05: #fff;