$font-path: "../font/";

@include font-face('nevis', '#{$font-path}nevis-webfont');
@import url(http://fonts.googleapis.com/css?family=EB+Garamond);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,600);

.post{
	font-family: 'EB Garamond', serif;
	p{
		font-size: 20px;
		line-height: 30px;
		margin-bottom: 1em;
	}
	
	h2.title{
		font-size: 2.4em;
		font-weight: 300;
		line-height: 1em;
		font-family: 'nevis', sans-serif;
		text-transform: uppercase;
		color: $color-titles;
				
		a{
			color: $color-titles;
			@include transition(color 1.5s);
			&:hover{
				color: $color-plum;
			}
		}
	}
	
	.meta{
		.date, .tags, .comments{
			font-size:14px;			
		}
	}
	
	li{
		font-size:16px;
		line-height:22px;
	}
	
}